*{
    background-color: gainsboro;
    text-align: center;
}
h1 {
    font-size: 50px;
}
p {
    font-size: 25px;
}
p:hover {
    font-weight: bolder;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
h1:hover {
    color: brown;
    background: white;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
    margin-left: 20%;
    margin-right: 20%;
}
#calculator {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 20px;
    border-radius: 20px;
    background-color: skyblue;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
#soon {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 20px ;
    border-radius: 20px;
    background-color: skyblue;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
#calculator:hover {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: orange;
    margin-bottom: 5px;
    color: white;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
#soon:hover {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: orange;
    margin-bottom: 5px;
    color: white;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
h6 {
    text-align: right;
}