*{
    margin: 0;
    padding: 0;
    background: wheat;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    text-align: center;
    font-size: 20px;
}
#main {
    display: grid;
    justify-content: center;
    align-content: center;

    font-family: 10px;
}
button {
    background: gray;
    color: white;
    font-weight: bolder;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 2px 2px 4px grey, -2px -2px 5px gainsboro;
}
#result {
    background: lightgreen;
    color: black;
    font-weight: bold;
    box-shadow: 2px 2px 4px lawngreen, -2px -2px 5px green;
    
}
#n1, #n2 {
    background: skyblue;
    box-shadow: 2px 2px 4px blue, -2px -2px 5px navy;
}
#operators {
    background: brown;
    box-shadow: 2px 2px 4px palevioletred, -2px -2px 5px red;
}
#home_page {
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    padding: 20px 45px;
    border-radius: 20px;
    background-color: lightcoral;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
#home_page:hover {
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 30px;
    background-color: lightgreen;
    margin-bottom: 5px;
    color: white;
    -webkit-transition: all 250ms ease-out;
    -ms-transition: all 250ms ease-out;
    transition: all 250ms ease-out;
}
ul {
    text-align: center;
}